# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.env
venv/
.venv/
*.db

# IDEs
.idea/
.vscode/

# Docker
*.log
docker-compose.override.yml

# Test output
htmlcov/
coverage.xml
.cache/
pytest_cache/

# System files
.DS_Store
